/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #4A3930;
  --color-secondary: #6E615F;
  --color-ternary: #5A595E;
  --color-cloud: #C1BFBB;
  --color-error: rgb(250, 44, 44);


}

/* semantic color variables for this project */
:root {
  --color-background: #fff;
  --color-border: var(--color-primary);
  --color-border-hover: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-secondary);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: KiteOne, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
li, a {
  text-decoration: none;
}
