/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #2C3639;
  --color-secondary: #3F4E4F;
  --color-ternary: #A27B5C;
  --color-octet: #DCD7C9;
  --color-error: rgb(250, 44, 44);
  --color-success: rgb(9, 142, 0);
  --color-info: rgb(0, 115, 160);


--color-primary-light: #5a6569;
  --color-secondary-light: #5b6565;
  --color-ternary-light: #cda07c;
  --color-error-light: rgb(249, 93, 93);
  --color-success-light: rgb(17, 200, 4);
  --color-info-light: rgb(16, 158, 213);

  --color-primary-transparent: #2C363922;
  --color-secondary-transparent: #3F4E4F22;
  --color-ternary-transparent: #A27B5C22;
  --color-octet-transparent: #DCD7C922;
  --color-error: rgba(250, 44, 44, 0.5);
}

/* semantic color variables for this project */
:root {
  --color-background: #fff;
  --color-border: var(--color-primary);
  --color-border-hover: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-secondary);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: KiteOne, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
li, a {
  text-decoration: none;
}
